<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>loginServlet</servlet-name>
        <servlet-class>controller.loginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listFileServlet</servlet-name>
        <servlet-class>controller.listFileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloadServlet</servlet-name>
        <servlet-class>controller.downloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listFolderServlet</servlet-name>
        <servlet-class>controller.listFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disconnectServlet</servlet-name>
        <servlet-class>controller.disconnectServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>newFolderServlet</servlet-name>
        <servlet-class>controller.newFolderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteServlet</servlet-name>
        <servlet-class>controller.deleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadServlet</servlet-name>
        <servlet-class>controller.uploadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteFolderServlet</servlet-name>
        <servlet-class>controller.deleteFolderServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>loginServlet</servlet-name>
        <url-pattern>/loginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listFileServlet</servlet-name>
        <url-pattern>/listFileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloadServlet</servlet-name>
        <url-pattern>/downloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listFolderServlet</servlet-name>
        <url-pattern>/listFolderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disconnectServlet</servlet-name>
        <url-pattern>/disconnectServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>newFolderServlet</servlet-name>
        <url-pattern>/newFolderServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteServlet</servlet-name>
        <url-pattern>/deleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadServlet</servlet-name>
        <url-pattern>/uploadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteFolderServlet</servlet-name>
        <url-pattern>/deleteFolderServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
